{% extends 'base.html.twig' %}

{% block content %}

    <h3 class="form_register_title"></h3>
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    {{ form_end(userForm) }}
{% endblock %}
