{% block section %}
	<header>
		<div class="rechercher">
			<a href="/"><img class="header_logo" src="{{asset('images/logo_transparent.png')}}" alt=""></a>
			<div class="rechercher_form">
				<img src="{{asset('images/loupe.png')}}" alt="">
				<form action="{{ path('app_handle_search') }}">
					<input type="search" name="q" placeholder="Rechercher">
				</form>
			</div>
		</div>
		<div class="header_main_cta_block">
			<a class="main_cta" href="">Déposer une annonce</a>
			<a class="main_cta" href="">S'inscrire | Se connecter</a>
		</div>
	</header>
{% endblock %}
