{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% for article in articles %}
        <div >
            <h1>

        {{ article.title }}
            </h1>
            <div>
                {{ article.description }}
            </div>

        </div>

    {% endfor %}


{% endblock %}
