body {
	margin: auto;
	font-family: Droid Sans;
}

@font-face {
	font-family: Droid Sans;
	src: url(../fonts/droidsans/DroidSans.ttf);
}

p {
	color: red !important;
}

/* header */
header {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #f5bf42;
}

.header_logo a {
	width: 140px;
	height: 140px;
}

.rechercher,
.rechercher_form {
	display: flex;
	align-items: center;
}

.rechercher_form img{
	width: 30px;
	height: 30px;
}

.rechercher form input {
	border: 2px solid #4191ab;
	padding: 8px 20px 8px 20px;
	text-align: center;
	margin-left: 10px;
}

.rechercher form input:focus::placeholder {
	color: transparent;
}

.rechercher form input:focus {
	outline: none;
}

.rechercher form input[type="search"]::placeholder {
	padding: 5px;
	text-align: left;
}

.header_main_cta_block {
	display: flex;
	gap: 40px;
}

.main_cta {
	color: #245471;
	background-color: #f5bf42;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	position: relative;
	transition: box-shadow 0.2s ease;
	transition-delay: 0.2s;
}

.main_cta::after {
	box-shadow: 10px 10px #d9d9d9;
	content: "";
	opacity: 1;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease;
	transition-delay: 0.2s;
}

.main_cta:hover::after {
	opacity: 0;
}

.main_cta:hover {
	color: #245471;
	box-shadow: 0px 0px 7px 5px #d9d9d9;
}

/* nav_bar */
.navbar_wrapper {
	
	padding-top: 30px;
	padding-bottom: 30px;
	margin: inherit;
}

.navbar {
	list-style: none;
	margin: 0px;
	padding: 0px;
	justify-content: center;
	gap: 60px;
}

.navbar li a {
	color: #4191ab;
	font-size: 18px;
	text-transform: capitalize;
	text-decoration: none;
	display: inline-flex;
	position: relative;
	width: 100%;
}

.navbar li a::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #f5bf42;
	transition: width 0.25s ease-out;
}

.navbar li a:hover::before {
	width: 100%;
  }


/* hero */

.hero {
	display: grid;
	grid-template-columns: 1fr 1.8fr 200px 200px;
	grid-template-rows: 200px 200px;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"text text . image1"
		"text text image2 image3";
	width: 100%;
	height: 400px;
	border-bottom: 1px solid #f5bf42;
}

.hero_card {
	grid-area: text;
}

.hero_card_title {
	display: flex;
	margin-bottom: 30px;
}

.hero_card_title img {
	width: 45px;
	height: 45px;
}

.one {
	grid-area: image1;
	background-color: #f5bf42;
}

.two {
	grid-area: image2;
	background-color: #4191ab;
}

.three {
	grid-area: image3;
	background-color: #245471;
}

.one img,
.two img,
.three img {
	width: 100%;
}

.hero h1 {
	font-size: 56px;
	color: #245471;
	align-self: flex-end;
	line-height: 0.85;
	margin-left: 20px;
}

.hero span {
	margin-bottom: 20px;
	color: #4191ab;
	font-size: 25px;
}

.hero_card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 50%;
	transform: translate(-50%);
}

/* card */

.produit_card_spec {
	border: 1px solid #f5bf42;
	width: 300px;
	padding: 25px;
	display: flex;
	flex-direction: column;
}

.produit_card_spec h3 {
	font-size: 18px;
	color: #245471;
	margin-bottom: 20px;
	font-weight: bold;
}

.produit_card_price {
	margin-bottom: 20px;
	color: #245471;
	font-size: 15px;
	font-weight: 600;
}

.produit_card_date {
	margin-bottom: 40px;
	color: #b3b3b3;
	font-size: 13px;
}

.produit_card_list {
	display: flex;
    justify-content: space-around;
}

.produit_card_wrapper {
	width: 300px;
	position: relative;
	list-style-type: none;
}

.produit_card_wrapper:hover{
	box-shadow: 0px 0px 15px 0px rgba(245, 191, 66, 0.6);
}

.produit_card_wrapper img{
	width: 300px;
}

.produit_card_detail {
	font-size: 15px;
	color: #245471;
	margin-bottom: 10px;
}

.produit_card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.btn_read_more {
	text-decoration: none;
	color: #4191ab !important;
	align-items: center;
	display: flex;
	position: relative;
}

.btn_read_more span::after {
	background-image: url(../images/chevron.png);
	background-size: contain;
	position: absolute;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	margin-left: 10px;
	top: 45%;
	transition-duration: 0.3s;
	background-position: 0% 0%;
	content: "";
	transform: translateY(-50%);
}

.btn_read_more span:hover::after {
	transform: translate(5px, -50%);
}

.btn_read_more span {
	font-size: 15px;
	text-transform: uppercase;
}

/* section populaire */
.section_populaire_wrapper {
	display: flex;
	flex-direction: column;
	padding: 0 70px;
	padding-bottom: 50px;
}

.section_populaire_title h2 {
	margin-bottom: 0px;
	line-height: 0.7;
	margin-left: 20px;
	font-size: 28px;
	align-self: end;
	color: #245471;
}

.section_populaire_title img {
	width: 28px;
	height: 28px;
}

.section_populaire_title {
	display: flex;
	margin-bottom: 60px;
	margin-top: 60px;
	justify-content: center;
}

.produit_card_tag {
	padding: 6px 25px 6px 25px;
	background-color: #f5bf42;
	color: #4191ab;
	position: absolute;
    right: 0;
    top: 0;
}

/* footer */
footer {
	width: 100%;
	display: flex;
	align-content: stretch;
	justify-content: space-evenly;
	padding: 50px 0;
	border-top: 1px solid #f5bf42;
}

footer h3{
	color: #245471;
	font-size: 22px;
}

.footer_socials_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer_socials_icons {
	justify-content: center;
    display: flex;
}

.footer_socials_icons img {
	width: 30px;
}

.footer_socials_first,
.footer_socials_second,
.footer_socials_third,
.footer_socials_fourth {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}

footer a{
	color: #4191AB;
	text-decoration: none;
	font-size: 18px;
}

footer a:hover{
	color: #4191AB;
}

.modal-container {
	visibility: hidden;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	transition: all 0.2s linear;
	opacity: 0;
}
.modal-container .modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
}
.modal-container .modal {
	position: relative;
	width: 500px;
	height: 300px;
	background: #fff;
	border-radius: 5px;
	box-sizing: 0 3px 15px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Helvetica', 'Segoe UI Light', sans-serif;
	font-weight: lighter;
	text-align: center;
}
.modal-container .modal span.modal-exit {
	position: absolute;
	top: 3px;
	right: 10px;
	font-weight: bold;
	font-size: 22px;
}
.modal-container .modal-exit {
	cursor: pointer;
}
.fade-in {
	visibility: visible !important;
	z-index: 99;
	opacity: 1;
}

#main .produit_card_list{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

#main .pagination{
	justify-content: center;
	margin-bottom: 40px;
	margin-top: 40px;
	gap:20px;
}

.pagination span a {
	text-decoration: none;
	color:#4191AB;
	cursor: pointer;
}

.pagination span{
	padding: 10px 15px;
	background-color: #f5bf42;
	color:#4191AB;
	cursor: pointer;
}

/* form login */

.form_login_wrapper{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 60px;
    margin-bottom: 60px;
	gap: 40px;
}

.form_login_wrapper form{
	border: 1px solid black;
	padding: 50px 100px 50px 100px;
	align-self: center;
	display: flex;
    flex-direction: column;
}

.form_login_wrapper a img{
	width: 200px;
	height: 200px;
}

.form_login_wrapper a{
	width: 200px;
	height: 200px;
	align-self: center;
}

.form_login_wrapper form input[name="email"],
.form_login_wrapper form input[name="name"]
{
	margin-bottom: 20px;
}