{% block section %}
	<div>
		<ul
			class="produit_card_wrapper">
			{# {% for article in articles %}
						<li class="produit_card"></li>
					{% endfor %} #}
			<li class="produit_card"></li>
		</ul>
	</div>
{% endblock %}
