{% extends 'base.html.twig' %}

{% block content %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	<div class="form_login_wrapper">
		<form method="post">
			<h3>Login</h3>
			<input class="form-control" name="email" placeholder="Email">
			<input class="form-control" name="password" placeholder="Password">
			<input type="hidden" name="csrf" value="{{ csrf_token('login_form') }}">
			<input class="secondary_cta" type="submit" name="Login" placeholder="Login">
			<a href="{{path('app_add_user')}} ">Vous n'avez pas de compte ? Inscrivez vous</a>
		</form>

	</div>

{% endblock %}
