{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" >
        <input class="form-control" name="email" placeholder="Email">
        <input class="form-control" name="password" placeholder="Password">

        <input type="hidden" name="csrf" value="{{ csrf_token('login_form') }}">
        <input type="submit" name="Login">
    </form>
{% endblock  %}