{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" >
        <input class="form-control" name="email" placeholder="Email">
        <input class="form-control" name="password" placeholder="Password">
        <input type="submit" name="Login">
    </form>
{% endblock  %}