{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
{{ include('header/header.html.twig') }}
        <ul>
            {% for tag in tags %}
                <li>{{ tag.name|e }}</li>
            {% endfor %}
        </ul>
{% endblock %}
